@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
@media (max-width: 767px) {
  html,
  body {
    font-size: calc(12px + 11.2 * ((100vw - 320px) / 1600));
  }
}
@media (min-width: 767px) {
  html,
  body {
    font-size: calc(12px + 4 * (100vw / 1600));
  }
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}

[class*=__container] {
  width: 80%;
  margin: 0 auto;
}

.header {
  text-align: center;
  padding: 20px 0;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.5;
  background-color: rgba(21, 6, 6, 0.579);
  color: #fff;
}

.page {
  padding-top: 20px;
}
.page__title h1 {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.5;
}
.page__body {
  padding: 10px 0;
}
.page__list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.page__item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.page__item a {
  background-color: rgba(204, 191, 191, 0.177);
  padding: 20px 10px;
  border-radius: 15px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: red;
}
@media (any-hover: hover) {
  .page__item a:hover {
    text-decoration: underline;
  }
}
.page__task {
  padding: 25px 15px;
  background-color: rgba(204, 191, 191, 0.177);
  border-radius: 10px;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .page__task:hover {
    background-color: rgba(187, 27, 27, 0.134);
    box-shadow: 5px 8px 8px 8px rgba(0, 0, 0, 0.256);
  }
  .page__task:hover a {
    text-shadow: 1px 5px 5px;
  }
}
.page__task a {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  color: purple;
  letter-spacing: 1px;
}
.page__task p {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  color: red;
}
.page__dessegen {
  background-color: rgba(204, 191, 191, 0.177);
  border-radius: 5px;
  margin: 20px 0;
}
.page__dessegen p {
  padding: 10px 0;
}
.page__dessegen div {
  padding: 20px 0;
}

.footer {
  background-color: rgba(21, 6, 6, 0.579);
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
}

.page__dessegen {
  padding: 20px 20px;
}

.page__input input {
  width: 100px;
  height: 30px;
  padding-left: 15px;
  border: 1px solid orangered;
  margin-right: 30px;
  font-size: 18px;
  color: green;
  font-weight: 700;
}

.page__button {
  color: black;
}

.button {
  font-size: 22px;
  background-color: grey;
  width: 200px;
  height: 50px;
  margin-right: 20px;
  border-radius: 5px;
}
@media (any-hover: hover) {
  .button:hover {
    box-shadow: 2px 2px 5px;
  }
}

.page__input-res input {
  width: 150px;
  height: 30px;
  padding-left: 15px;
  border: 1px solid orangered;
  margin-right: 30px;
  font-size: 18px;
  color: red;
  font-weight: 700;
}

.dessegen {
  display: flex;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
.etap-one,
.etap-two,
.etap-three {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 300px;
}
.etap-one h3,
.etap-two h3,
.etap-three h3 {
  font-size: 18px;
  color: green;
}
.etap-one__section,
.etap-two__section,
.etap-three__section {
  width: 150px;
}
.etap-one__checkbox,
.etap-two__checkbox,
.etap-three__checkbox {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.etap-one__radio,
.etap-two__radio,
.etap-three__radio {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  align-items: center;
}

.checkbox__label {
  font-size: 16px;
  color: orangered;
}
.radio__label {
  font-size: 16px;
  color: orangered;
}

.list__res-one {
  font-size: 22px;
  color: rgb(199, 8, 8);
  font-style: italic;
}

.page__button {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  align-items: center;
}

.list__res-one {
  font-size: 35px;
}

.dessegen__container {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.dessegen__hello {
  cursor: pointer;
  font-size: 25px;
  color: green;
  font-weight: 700;
  width: 150px;
  height: 50px;
  border-radius: 5px;
  text-align: center;
}
@media (any-hover: hover) {
  .dessegen__hello:hover {
    box-shadow: 2px 2px 5px;
  }
}

.dessegen__card {
  display: flex;
  -moz-column-gap: 15px;
       column-gap: 15px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 250px;
  border: 1px solid black;
  cursor: pointer;
  transition: all 0.3s;
}
.card__title {
  font-size: 21px;
  font-weight: 700;
  line-height: 2;
  width: 100px;
  text-align: center;
  background-color: yellow;
  border-radius: 25px;
}
.card__img {
  width: 150px;
  height: 150px;
}
.cont {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.cont a {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: green;
  margin-left: 10px;
}

.active {
  border: 2px solid rebeccapurple;
  transform: scale(1.1);
}

.dessegen__list {
  width: 250px;
  border: 1px solid black;
}
.dessegen__list {
  width: 250px;
  border: 1px solid black;
}

.dessegen__list_sport {
  height: 30px;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dessegen__list_sport:not(:last-child) {
  margin-bottom: 5px;
}
.dessegen__list_sport li {
  padding-left: 5px;
  font-size: 16px;
  font-weight: 600;
}
.dessegen__list_sport img {
  cursor: pointer;
  width: 55px;
  height: 25px;
  transform: rotate(-180deg);
}

.red-arrow img {
  transform: rotate(0deg);
}

.green-arrow img {
  transform: rotate(-180deg);
}

.star {
  position: absolute;
  overflow: hidden;
}

.tank {
  width: 65px;
}

.form__input {
  width: 150px;
  height: 30px;
  border: 1px solid rgb(84, 250, 84);
  padding-left: 15px;
}

.box__input {
  width: 70px;
  height: 30px;
  margin-right: 20px;
  border: 1px solid purple;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

.box__button {
  width: 100px;
  height: 40px;
  background-color: purple;
  border-radius: 8px;
  text-align: center;
  color: #fff;
  font-size: 18px;
}

.box__item {
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  font-style: italic;
  color: rgb(104, 8, 8);
}