@import "nullstyle.scss";

//====================Wraper=========================================================
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  > main {
    flex: 1 1 auto;
  }
}

[class*="__container"] {
  width: 80%;
  margin: 0 auto;
}

//==================Main Page=============================================================

.header {
  text-align: center;
  padding: 20px 0;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.5;
  background-color: rgba(21, 6, 6, 0.579);
  color: #fff;
}
.page {
  padding-top: 20px;
  // .page__title

  &__title {
    h1 {
      font-size: 22px;
      font-weight: 500;
      line-height: 1.5;
    }
  }

  // .page__body

  &__body {
    padding: 10px 0;
    position: relative;
  }

  // .page__lest

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  // .page__item

  &__item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    a {
      background-color: rgba(204, 191, 191, 0.177);
      padding: 20px 10px;
      border-radius: 15px;
      font-size: 16px;
      line-height: 1.5;
      font-weight: 400;
      color: red;
      @media (any-hover: hover) {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  //  .page__task

  &__task {
    padding: 25px 15px;
    background-color: rgba(204, 191, 191, 0.177);
    border-radius: 10px;
    transition: all 0.3s;
    @media (any-hover: hover) {
      &:hover {
        background-color: rgba(187, 27, 27, 0.134);
        box-shadow: 5px 8px 8px 8px rgba(0, 0, 0, 0.256);
        a {
          text-shadow: 1px 5px 5px;
        }
      }
    }
    a {
      font-size: 18px;
      line-height: 1.5;
      font-weight: 400;
      color: purple;
      letter-spacing: 1px;
    }
    p {
      font-size: 14px;
      line-height: 1.5;
      font-weight: 400;
      color: red;
    }
  }

  // .page__solution

  &__dessegen {
    background-color: rgba(204, 191, 191, 0.177);
    border-radius: 5px;
    margin: 20px 0;
    p {
      padding: 10px 0;
    }
    div {
      padding: 20px 0;
    }
  }
}

.footer {
  background-color: rgba(21, 6, 6, 0.579);
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
}

//==================Task Page============================================================
.page__dessegen {
  padding: 20px 20px;
}
.page__input {
  input {
    width: 100px;
    height: 30px;
    padding-left: 15px;
    border: 1px solid orangered;
    margin-right: 30px;
    font-size: 18px;
    color: green;
    font-weight: 700;
  }
}
.page__button {
  color: black;
}
.button {
  font-size: 22px;
  background-color: grey;
  width: 200px;
  height: 50px;
  margin-right: 20px;
  border-radius: 5px;
  @media (any-hover: hover) {
    &:hover {
      box-shadow: 2px 2px 5px;
    }
  }
}
.page__input-res {
  input {
    width: 150px;
    height: 30px;
    padding-left: 15px;
    border: 1px solid orangered;
    margin-right: 30px;
    font-size: 18px;
    color: red;
    font-weight: 700;
  }
}
//---------------------Radio & CheckBox & Input-------------
.dessegen {
  display: flex;
  column-gap: 50px;
  // .dessegen__etap-one

  &__etap-one {
  }
}
.etap-one,
.etap-two,
.etap-three {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 300px;

  h3 {
    font-size: 18px;
    color: green;
  }
  // .etap-one__section

  &__section {
    width: 150px;
  }

  // .etap-one__checkbox

  &__checkbox {
    display: flex;
    column-gap: 10px;
  }

  // .etap-one__radio

  &__radio {
    display: flex;
    column-gap: 10px;
    align-items: center;
  }
}
.checkbox {
  // .checkbox__input

  &__input {
  }

  // .checkbox__label

  &__label {
    font-size: 16px;
    color: orangered;
  }

  // .checkbox__chek

  &__chek {
  }
}
.radio {
  // .rating__item

  &__item {
  }

  // .radio__label

  &__label {
    font-size: 16px;
    color: orangered;
  }
}
.etap-one {
  // .etap-one__list

  &__list {
  }
}
.list {
  // .list__res-one

  &__res-one {
    font-size: 22px;
    color: rgb(199, 8, 8);
    font-style: italic;
  }
}
.page__button {
  display: flex;
  column-gap: 30px;
  align-items: center;
}
.list__res-one {
  font-size: 35px;
}
//--------------------Hello---------------
.dessegen__container {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.dessegen__hello {
  cursor: pointer;
  font-size: 25px;
  color: green;
  font-weight: 700;
  width: 150px;
  height: 50px;
  border-radius: 5px;
  text-align: center;
  @media (any-hover: hover) {
    &:hover {
      box-shadow: 2px 2px 5px;
    }
  }
}
//---------------------------------------
.dessegen__card {
  display: flex;
  column-gap: 15px;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 250px;
  border: 1px solid black;
  cursor: pointer;
  transition: all 0.3s;
  &__title {
    font-size: 21px;
    font-weight: 700;
    line-height: 2;
    width: 100px;
    text-align: center;
    background-color: yellow;
    border-radius: 25px;
  }
  &__img {
    width: 150px;
    height: 150px;
  }
  &__cont {
  }
}
.cont {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  a {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: green;
    margin-left: 10px;
  }
}
.active {
  border: 2px solid rebeccapurple;
  transform: scale(1.1);
}
//-----------------------------19.6----------
.dessegen {
  // .dessegen__list-one

  &__list {
    width: 250px;
    border: 1px solid black;
  }

  // .dessegen__list-two

  &__list {
    width: 250px;
    border: 1px solid black;
  }
}
.dessegen__list_sport {
  height: 30px;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &:not(:last-child) {
    margin-bottom: 5px;
  }
  li {
    padding-left: 5px;
    font-size: 16px;
    font-weight: 600;
  }
  img {
    cursor: pointer;
    width: 55px;
    height: 25px;
    transform: rotate(-180deg);
  }
}
.red-arrow {
  img {
    transform: rotate(0deg);
  }
}
.green-arrow {
  img {
    transform: rotate(-180deg);
  }
}
//-----------------Lesson 20--------------------

.star {
  position: absolute;
  overflow: hidden;
}

.tank {
  width: 65px;
}

.form__input {
  width: 150px;
  height: 30px;
  border: 1px solid rgb(84, 250, 84);
  padding-left: 15px;
}

.box__input {
  width: 70px;
  height: 30px;
  margin-right: 20px;
  border: 1px solid purple;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}
.box__button {
  width: 100px;
  height: 40px;
  background-color: purple;
  border-radius: 8px;
  text-align: center;
  color: #fff;
  font-size: 18px;
}
.box__item {
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  font-style: italic;
  color: rgb(104, 8, 8);
}

.dessegen {
  flex-direction: column;
  // .dessegen__select

  &__select {
    display: flex;
    column-gap: 15px;
  }
}
.select__button {
  background-color: orangered;
  width: 70px;
  height: 35px;
  border-radius: 10px;
  color: #fff;
  text-transform: uppercase;
  @media (any-hover: hover) {
    &:hover {
      box-shadow: 2px 2px 5px gray;
    }
  }
}

.result__list {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  background-color: #fff;
  width: 450px;
  padding: 10px 15px;
  li {
    font-size: 18px;
  }
}
//-------------21--------------
.dessegen__client {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  ul {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
    li {
      border: 1px solid grey;
      padding: 2px 5px;
    }
  }
}
.boxMoney {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  input {
    width: 150px;
    border: 1px solid grey;
    padding: 2px 5px;
  }

  button {
    width: 150px;
    border: 2px solid red;
    padding: 2px 7px;
    @media (any-hover: hover) {
      &:hover {
        box-shadow: 2px 5px 5px red;
      }
    }
  }
}
.active-credit {
  font-weight: 600;
  color: red;
  box-shadow: 2px 2px 2px red;
}
.bank {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  h4 {
    font-size: 21px;
    font-weight: 600;
    color: rgb(51, 4, 4);
  }
}

.image {
  width: 45px;
  height: 45px;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  label {
    font-size: 18px;
    font-weight: 600;
  }
  // .school__input

  input {
    border: 2px solid purple;
    border-radius: 5px;
    width: 70px;
    height: 25px;
    text-align: center;
    font-size: 18px;
  }

  &__button {
    width: 100px;
    height: 45px;
    background-color: grey;
    border: 2px solid purple;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    transition: all 0.3s;
    @media (any-hover: hover) {
      &:hover {
        box-shadow: 2px 5px 2px purple;
      }
    }
  }
  ul {
    li {
      color: red;
      font-size: 18px;
      font-weight: 600;
    }
  }
}
.school,
.school-two {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.active-err {
  font-size: 21;
  font-weight: 600;
  color: red;
}
//---------------22 lesson-----------------------
.data-one {
  font-size: 38px;
  font-weight: 700;
  color: peru;
  letter-spacing: 2px;
}
.date-two {
  font-size: 38px;
  font-weight: 700;
  color: purple;
  letter-spacing: 2px;
}
.data-three {
  font-size: 38px;
  font-weight: 700;
  color: green;
  letter-spacing: 2px;
}
.season {
  font-size: 38px;
  font-weight: 700;
  color: green;
  letter-spacing: 2px;
}
.form-one {
  display: flex;
  flex-direction: column;
  row-gap: 15px;

  label {
    font-size: 21px;
    font-weight: 500;
    color: black;
  }
  input {
    width: 100px;
    border: 1px solid rgba(128, 128, 128, 0.275);
    height: 35px;
    padding: 5px 5px;
  }
  button {
    width: 100px;
    height: 35px;
    border: 1px solid rgba(128, 128, 128, 0.275);
    padding: 5px 5px;
    font-weight: 500;
    @media (any-hover: hover) {
      &:hover {
        box-shadow: 2px 2px 2px rgba(39, 38, 38, 0.275);
      }
    }
  }
}
.answer {
  font-size: 21px;
  font-weight: 500;
  color: black;
}

.form-two {
  display: flex;
  flex-direction: column;
  row-gap: 15px;

  // .form-two__lebel

  &__lebel {
    font-size: 21px;
    font-weight: 500;
    color: black;
  }

  // .form-two__input

  &__input {
    width: 120px;
    border: 1px solid rgba(128, 128, 128, 0.275);
    height: 35px;
    padding: 5px 5px;
  }
}
.user-rest {
  font-size: 21px;
  font-weight: 500;
  color: green;
}
//--------------------------Lesson 24-------------------------------------------------------
.user-visit {
  font-size: 21px;
  font-weight: 600;
  font-style: italic;
  color: green;
}
